<div class="row">
    <div class="col-12 d-flex justify-content-around mb-4">
        <%= link_to 'See positions', positions_path, class: 'btn btn-mdb-color' %>
        <%= link_to 'See candidates', candidates_path, class: 'btn btn-brown' %>
        <%= link_to 'See recruiters', recruiters_path, class: 'btn btn-indigo' %>
    </div>
</div>
<%= render 'positions/position-list'%>