<h1 class="mb-5">Recruit'R</h1>
<%= link_to 'See positions', positions_path, class: 'btn btn-success shadow' %>
<%= link_to 'See candidates', candidates_path, class: 'btn btn-primary shadow' %>
<%= link_to 'See recruiters', recruiters_path, class: 'btn btn-warning shadow' %>
