@import "bootstrap/dist/css/bootstrap";
.container {
  margin-top: 60px;
}
.navbar {
  background-color: #10515b;
}

.badge-0 {
  background-color: salmon;
}

.badge-1 {
  background-color: orange;
}

.badge-2 {
  background-color: lightgreen;
}

.badge-3 {
  background-color: lightblue;
}
