@import "bootstrap/dist/css/bootstrap";

.badge-0 {
    background-color: salmon
}

.badge-1 {
    background-color: orange
}

.badge-2 {
    background-color: green
}

.badge-3 {
    background-color: lightblue
}