<div class="row mt-3">
  <div class="col-10 offset-1">
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%="#{name}"%>">
        <a href="#" class="close" data-dismis="alert">&#215</a>
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      <% end %>
    </div>
  </div>
</div>
